body{
	margin: 0;
	padding: 0;

}
#title{

	margin: 0;
	padding-top: 30px;
	margin-left: 20px;
	margin-top: 0px;
	font-size: 50px;
	color: white;
	font-family:'Verdana';
	

}

#main{
	background-color: #3399cc;
	height: 120px;
	width: 100%x;
	
	}

#menuheader{
	background-color: #333333;
	height: 40px;
	width: 100%;
	

}

#home{
	color: white;
	font-size: 17px;
	text-decoration: none;
	
	margin-top: 8px;
	margin-left: 20px;
	font-weight: bold;
	font-family:'Verdana';
	background-color: #333333;
	border: none;
}
#add{
	color: white;
	font-size: 17px;
	text-decoration: none;

	margin-top: 8px;
	margin-left: 20px;
	font-weight: bold;
	font-family:'Verdana';
	background-color:#333333;
	border: none; 
	cursor: pointer;
	outline: none;
}

#blog{
	
	padding-top: 8px;
	padding-right: 30px;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modalEdit {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 650px;
  min-height: 650px;
  
  
  
}
.type1{
	transition: color 1s ease;
transition: background 1s ease;
	height: 40px;
	width: 71.3%;
	font-size: 15px;
}

#mobile{
	transition: color 1s ease;
transition: background 1s ease;
	height: 40px;
	width: 31.5%;
	font-size: 15px;
}

#landline{
	height: 40px ;
	width: 31.5% ;
	font-size: 15px ;
}

.type4{
	transition: color 1s ease;
transition: background 1s ease;
	height: 40px !important;
	width: 31.5% !important;
	font-size: 15px !important;
}



.type3{
	transition: color 0.5s ease;
transition: background 0.5s ease;
	height: 100px;
	width: 77%;
	font-size: 15px;
}
.buttonstyle{
	background-color: #468c00;
	height: 30px;
	width: 11%;
	color: white;
	color: white;
	font-size: 20px;
}


#contacts{
	font-size: 20px;
	color: #333333;
	margin-left: 20px;
	margin-top: 20px;
	font-family: 'Verdana';
}

.columnlist{
	width: 30%;
	height: 400px;
	border: 2px solid black;
	margin-left: 20px;	
	float: left;
	overflow: auto;
	min-width: 400px;
}

.contactdisp
{
	font-size: 18px;
	font-family:'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
	margin: 0;
	color: #565c5e;
	padding-left: 15px;
	outline: none;
	font-size-adjust: 2;
	text-decoration: none;

}



.main-name{
	border:none;
	margin: none;
	font-size: 40px;
	font-family:'Calibri Light','Gill Sans','Open Sans',Geneva,Helvetica,Arial,sans-serif;
	text-decoration: none;
	color: #4f4f4f;
	cursor: pointer;
	
	text-align: left;
	white-space: nowrap;
	overflow:hidden;
  	text-overflow:ellipsis;
	
}

.border-style{
	padding-left: 16px;
	font-weight: 600;
}
.borderbottom{
	border-bottom:  1px solid black;
}



}
p.displayName{
	font-family: Calibri, sans-serif;
	font-size: 40px;
	margin: 0;
	margin-left: 10px;
	font-weight: 400;
	color: #4f4f4f;
	white-space: nowrap;
	overflow:hidden;
  	text-overflow:ellipsis;
}


.subdivision{
	font-family: Calibri, sans-serif;
	font-size: 20px;
	margin: 0;
	margin-left: 10px;	
	font-weight: 300;
	margin-top: 5px;
	white-space: nowrap;
	overflow:hidden;
  	text-overflow:ellipsis;
}	
.commonstyle{

	
	margin-bottom: 20px;

}
.required::after {
    content: "*";
    color: red;
}

.addressstyle{
	height: 40px;
	font-size: 15px;
}
#displayButton{
	transition-duration: 0.5s;
}

#displayButton:hover{
	background-color: #cee7f2;
	color: black;
}




